# Neon PostgreSQL connection string
# Example: postgresql://user:password@ep-xxxx.neon.tech/addressguard?sslmode=require
DATABASE_URL=postgresql://neondb_owner:npg_51RMXDhHrlgG@ep-broad-heart-ax9ukket-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Flask secret key - generatpython -c "import secrets; print(secrets.token_hex(32))"e with: 
SECRET_KEY=53a0e22d6e36f6b9afdbae86eddc772aa41dccd043545626d5661ca77ce99d1f

# Base URL used inside generated QR codes to build the verification link
PUBLIC_BASE_URL=http://localhost:5000

FLASK_ENV=development
